@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}    
:root{
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /*neutral */

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /* added myself */
    
    --svg-color: #483EFF;
}
body{
    height: 100vh;
    background: var(--pastel-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main */
.d-none{
    display: none;
}
#multi-main{
    width: 960px;
    display: flex;
    background: var(--white);
    padding: 15px;
    border-radius: 15px;
}
.content{
    width: 100%;
    padding: 40px 100px;
    position: relative;
}
.content h1{
    color: var(--marine-blue);
    margin-bottom: 10px;
}
.content p{
    color: var(--cool-gray);
    margin-bottom: 40px;
}
.nextBtn{
    position: absolute;
    bottom: 40px;
    right: 100px;
    background: var(--marine-blue);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.back-Btn{
    color: var(--cool-gray);
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    position: absolute;
    left: 100px;
    bottom: 40px;
    padding: 15px 0;
    cursor: pointer;
}
.back-Btn:hover{
    color: var(--marine-blue);
}
#finish-btn{
    padding: 15px 31.5px;
}


/*personel info */
#personel-info{
    display: flex;
    flex-direction: column;
}
#personel-info label{
    margin-bottom: 10px;
}
input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--light-gray);
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--marine-blue);
    font-weight: 500;
}
input:focus{
    outline: 1px solid var(--purplish-blue);
}



/* plan */
#cards{
    display: flex;
    width: 100%;
    gap: 15px;
}
.card{
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 20px 15px;
    width: 100%;
}
.card svg{
    margin-bottom: 40px;
}
.card p{
    margin-top: 5px;
    margin-bottom: 0;
}
#checkYearly input{
    margin-bottom: 0;
    margin-right: 10px;
}
#checkYearly{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background: var(--alabaster);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 500;
    color: var(--marine-blue);
}



/* addons */
.extra{
    display: flex;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}
.extra p{
    margin-bottom: 0;
}
.extra input{
    margin-bottom: 0;
    outline: none;
    margin-right: 25px;
    margin-left: 10px;
}
.extraPrice{
    align-self: center;
    position: absolute;
    right: 25px;
}
.extra:hover{
    border: 1px solid var(--purplish-blue);
    background: var(--magnolia);
}
.extra h3{
    color: var(--marine-blue);
}


/*finish*/
#finish-main{
    padding: 15px;
    border-radius: 10px;
    background-color: var(--light-gray);
}
#main-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#main-price p{
    margin-bottom: 0;
}
#price h4{
    margin-top: 10px;
}
#plan-name p{
    text-decoration: underline;
    margin-top: 5px;
}
#plan-name p:hover{
    color: var(--purplish-blue);
    cursor: pointer;
}
#extrasAppend p, #extrasAppend h5{
    margin-top: 20px;
    margin-bottom: 0;
}
#total-price{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#total-price p{
    margin-bottom: 0;
    margin-top: 5px;
}

/* summary */
#summary div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#summary h1{
    margin-top: 30px;
    margin-bottom: 25px;
}
#summary p{
    margin-bottom: 0;
}

.extrasInfo{
    display: flex;
    justify-content: space-between;
}

/* main svg css */
#svg-div{
    position: relative;
}
#numerators{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 30px;
    gap: 30px;
}
#numerators .num{
    display: flex;
}
.num h4{
    padding: 9px 14px;
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    margin-right: 15px;
}
.num-cont h5{
    font-size: 16px;
}
.num-cont p{
    color: var(--cool-gray);
    font-size: 13px;
    margin-bottom: 5px;
}
.num-cont{
    color: var(--white);
}
#num1 h4{
    background: var(--pastel-blue);
    color: black;
}